<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <h1 class="d-flex justify-content-center mt-5">Stadium Details</h1>
  </div>
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-5 p-4 border border-2 fs-4">Add stadium details</div>
        <div class="col-md-5 p-4 border border-2 fs-4">
          <a [routerLink]="['/stadium-details']">Open</a>
        </div>
        <div class="col-md-5 p-4 border border-2 fs-4">Edit stadium details</div>
        <div class="col-md-5 p-4 border border-2 fs-4">
          <a [routerLink]="['/stadium-details']">Open</a>
        </div>

      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>