<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 mt-5">
      
        <div class="d-flex justify-content-center mb-3">
          <h1>Add Stadium Details Form</h1>
        </div>
        <form [formGroup]="IPLForm">
          <div class="mb-3">
            <label class="form-label">Location</label>
            <input type="text" class="form-control"formControlName="Location">
          </div>
          <div *ngIf="Location?.errors && Location?.touched" class="text-danger ">
            Location is required!
          </div>
          <div class="mb-3">
          <label class="form-label">Name</label>
          <input type="text" class="form-control"formControlName="Name">
        </div>
        <div *ngIf="Name?.errors && Name?.touched" class="text-danger ">
         Name is required!
        </div>
        
        <div class="mb-3">
          <label class="form-label">Capacity</label>
          <input type="text" class="form-control"formControlName="Capacity">
        </div>
        <div *ngIf="Capacity?.errors && Capacity?.touched" class="text-danger ">
          Capacity is required!
           </div>
        <div class="mb-3">
          <label class="form-label">Home_To</label>
          <input type="text" class="form-control"formControlName="Home_To">
        </div>
        <div *ngIf="Home_To?.errors && Home_To?.touched" class="text-danger ">
          Home_To is required!
           </div>
        <div class="mb-3">
          <label class="form-label">Ends</label>
          <input type="text" class="form-control"formControlName="Ends">
        </div>
        <div *ngIf="Ends?.errors &&  Ends?.touched" class="text-danger ">
          Ends is required!
        </div>
       
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary m-1"(click)="onFormSubmit()"[disabled]="!IPLForm.valid" >Submit</button>
          <button type="button" class="btn btn-danger  m-1"[routerLink]="['/stadium-main']" >Cancel</button>
        </div>

      </form>
    </div>
  </div>
    <div class="col-md-3"></div>
  </div>


