<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-image: url(https://media.istockphoto.com/vectors/cricket-bat-ball-stump-bails-icon-vector-id1294093168?k=20&m=1294093168&s=612x612&w=0&h=KiOvGj5ch7zFXH6gQJNeZpMWkkJURWxBjDMtfodUbc0=); background-repeat: no-repeat; background-position: center; background-size: 1000px 550px;"> </body>
<div class="container login" style="align-items: right;">
  <h3><strong>Add Match-details Form</strong></h3>
  <style>
                
    .mb-3 {
      margin:2px 4px 6px 6px;
      padding: 15px 1px 2px 3px;
    }
    </style>


<form [formGroup]="IPLFORM" >



<div class="mb-3">
        <label class="form-label">Match_Id</label>
        <input type="text" class="form-control"formControlName="Match_Id">
      </div>
       <div class="mb-3">
         <label class="form-label">Location</label>
         <input type="text" class="form-control"formControlName="Location">
       </div>
       <div *ngIf="Location?.errors && Location?.touched" class="text-danger " style="color:red">
        <b>Location is required!</b>
         </div>
       <div class="mb-3">
         <label class="form-label">Date</label>
         <input type="text" class="form-control"formControlName="Date">
       </div>
       <div *ngIf="Date?.errors && Date?.touched" class="text-danger " style="color:red";>
        <b>Date is required!</b>
         </div>
       <div class="mb-3">
         <label class="form-label">Battle</label>
         <input type="text" class="form-control"formControlName="Battle">
       </div>
       <div *ngIf="Battle?.errors && Battle?.touched" class="text-danger" style="color:red">
        <b>Battle is required!</b>
         </div>
       <div class="d-flex justify-content-center">
         
        <button type="submit" class="btn btn-primary m-1"(click)="onFormSubmit()"[disabled]="!IPLForm.valid">Submit</button>
         <button type="button" class="btn btn-danger  m-1" [routerLink]="['/match-main']">Cancel</button>
       </div>
</form>
</div>